<div th:fragment="dadosResgate" class="card mb-3" id="DadosResgate"
     th:styleappend="${(hide == 0 || hide == 1 ) ? 'display: none;' : ''}" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="row">
        <div class="d-flex align-items-center highlight-toolbar bg-light ps-3 pe-2 py-2 mb-2">
            <small class="font-monospace text-muted text-uppercase">DADOS PARA
                RESGATE</small>
        </div>
        <div class="col-lg-12" style="text-align: right;">
            <button type="submit" form="form-resgate" class="btn btn-sm btn-primary col-2 mb-2" id="Confirmar" >Confirmar</button>
        </div>
    </div>
    <form id="form-resgate" th:object="${dadosResgateDTO}" action="regaste" method="post">

        <div class="card-body form-group">
            <div class="row">
                <div class="form-floating col-2">
                    <input type="text" class="form-control form-control-sm" name="cc_Jud"
                           value="000" autocomplete="off" disabled="">
                    <label for="floatingPlaintextInput">Conta Judicial</label>
                </div>
                <button type="button" class="col-2 btn btn-xs btn-primary btn-line">
                    Adicionar/Remover Conta
                </button>
                <div class="form-floating col-2">
                    <select class="form-select form-select-xs mb-3" name="tipoValor"
                            aria-label="">
                        <option selected>Selecione</option>
                        <option value="1">1 - Parcial</option>
                        <option value="2">2 - Total</option>
                    </select>
                    <label for="floatingPlaintextInput">Tipo Valor:</label>
                </div>
                <div class="form-floating col-2">

                    <select class="form-select form-select-xs mb-3" name="tipoPessoa"
                            aria-label="">
                        <option selected>Selecione</option>
                        <!--                    <option value="1">1 - PF</option>-->
                        <!--                    <option value="2">2 - PJ</option>-->
                        <option th:each="tipo : ${tipoPessoa}"
                                th:value="${tipo}" th:text="${tipo.name}"></option>
                    </select>
                    <label for="floatingPlaintextInput">Tipo Pessoa:</label>
                </div>
                <div class="form-floating col-2">
                    <input type="text" class="form-control form-control-sm" name="cfpCnpj"
                           value="" autocomplete="off">
                    <label for="floatingPlaintextInput">CPF/CNPJ</label>
                </div>
                <div class="form-floating col-2">
                    <input type="text" class="form-control form-control-sm"
                           name="nome" value="" autocomplete="off">
                    <label for="floatingPlaintextInput">Nome Beneficiario:</label>
                </div>
                <div class="form-floating col-2">
                    <input type="text" class="form-control form-control-sm"
                           name="ag_inclusao" value="" autocomplete="off">
                    <label for="floatingPlaintextInput">Ag.(Inclusão CPF):</label>
                </div>
                <div class="form-check col-2 ps-5 py-3">
                    <input class="form-check-input" type="checkbox" value=""
                           id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Representante
                    </label>
                </div>
                <div class="form-floating col-2">
                    <input type="text" class="form-control form-control-sm"
                           name="CPF_Represeantante" value="" autocomplete="off">
                    <label for="floatingPlaintextInput">CPF Representate:</label>
                </div>
                <!--Bloco Finalidade
                    O comportamento deste bloco, muda de acordo com a seleção do campo Finalidade, para alterar consulte o script ao final do arquivo-->
                <div class="card bg-light py-3 col-6">
                    <div class="row">
                        <div class="form-floating col-6">
                            <select class="form-select form-slect-xs mb-1" name="baseCalc"
                                    aria-label="">
                                <option selected>Selecione</option>
                                <option value="1">1 - Parcial</option>
                                <option value="2">2 - Total</option>
                            </select>
                            <label for="floatingPlaintextInput">Base Cálculo:</label>
                        </div>
                        <div class="form-floating col-6">
                            <select class="form-select  mb-1" name="Nm_Finalidade"
                                    aria-label="" onchange="FinalidadeDiv(this)">
                                <option value="1" selected>Selecione</option>
                                <option value="2">1 - Crédito C/C outros Bancos</option>
                                <option value="3">2 - Crédito C/C BB</option>
                                <option value="4">99 - Outras Finalidades</option>
                            </select>
                            <label for="floatingPlaintextInput">Finalidade:</label>
                        </div>
                    </div>
                    <div id="outros" style="display: none;">
                        <small class="font-monospace text-muted text-uppercase mb-5 py-3">Finalidade</small>
                        <div class="form-group row">
                            <div class="form-floating col-3">
                                <input type="text" class="form-control form-control-sm"
                                       name="" value="" autocomplete="off">
                                <label for="floatingPlaintextInput">Agência</label>
                            </div>
                            <div class="form-floating col-3">
                                <input type="text" class="form-control form-control-sm"
                                       name="" value="" autocomplete="off">
                                <label for="floatingPlaintextInput">Conta</label>
                            </div>
                            <div class="form-floating col-2">
                                <input type="text" class="form-control form-control-sm"
                                       name="" value="" autocomplete="off">
                                <label for="floatingPlaintextInput">Digito</label>
                            </div>
                        </div>
                    </div>
                    <div id="bb" style="display: none;">
                        <small class="font-monospace text-muted text-uppercase mb-5 py-3">Finalidade</small>
                        <div class="form-group row">
                            <div class="form-floating col-3">
                                <input type="text" class="form-control form-control-sm"
                                       name="" value="" autocomplete="off">
                                <label for="floatingPlaintextInput">Agência</label>
                            </div>
                            <div class="form-floating col-3">
                                <input type="text" class="form-control form-control-sm"
                                       name="" value="" autocomplete="off">
                                <label for="floatingPlaintextInput">Conta</label>
                            </div>
                            <div class="form-floating col-2">
                                <input type="text" class="form-control form-control-sm"
                                       name="" value="" autocomplete="off">
                                <label for="floatingPlaintextInput">Digito</label>
                            </div>
                        </div>
                    </div>
                    <div id="diversas" style="display: none;">
                        <small class="font-monospace text-muted text-uppercase mb-5 py-3">Finalidade</small>
                        <div class="form-group row">
                            <div class="form-floating col-5">
                                <input type="text" class="form-control form-control-sm"
                                       name="" value="" autocomplete="off">
                                <label for="floatingPlaintextInput">Informe a
                                    Finalidade</label>
                            </div>
                            <div class="form-check col-3 ps-5 py-3">
                                <input class="form-check-input" type="checkbox" value=""
                                       id="GuiaFGTS">
                                <label class="form-check-label" for="GuiaFGTS">
                                    Gerar Guia FGTS
                                </label>
                            </div>
                            <div class="form-check col-3 ps-5 py-3">
                                <input class="form-check-input" type="checkbox" value=""
                                       id="GuiaDIRF">
                                <label class="form-check-label" for="GuiaDIRF">
                                    Gerar DIRF
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fim do Bloco Finalidade-->
            </div>
        </div>

    </form>
</div>
