<div th:fragment="dadosGsv" class="col-7 ">
    <div class="row flex-row flex-wrap  px-5 hstack gap-3" id="">
        <div class="card-header mz-1 ml-1">Olá <strong><span id="nomeFunci">Ana Silva</span></strong>, acompanhe
            aqui a sua fila.
        </div>
        <button class="btn btn-priorizado btn-sq-lg btn-sm col-2 rounded-5 me-2" type="button"
                data-bs-toggle="collapse" data-bs-target="#priorizadoLista" aria-expanded="false"
                aria-controls="priorizadoLista">
            <div class="btn-tit">Priorizados</div>
            <p>3</p>
        </button>
        <button class="btn btn-valor btn-sq-lg btn-sm col-2 rounded-5 me-2" type="button"
                data-bs-toggle="collapse" data-bs-target="#diligenciaLista" aria-expanded="false"
                aria-controls="diligenciaLista">
            <div class="btn-tit">Aguardando Analise</div>
            <p>14</p>
        </button>
        <button class="btn btn-valor btn-sq-lg btn-sm col-2 rounded-5 me-2" type="button"
                data-bs-toggle="collapse" data-bs-target="#totalLista" aria-expanded="false"
                aria-controls="totalLista">
            <div class="btn-tit"> Diligencias</div>
            <p>17</p>
        </button>
        <button class="btn btn-valor btn-sq-lg btn-sm col-2 rounded-5 me-2" type="button"
                data-bs-toggle="collapse" data-bs-target="#validarLista" aria-expanded="false"
                aria-controls="priorizadoLista">
            <div class="btn-tit"> A validar gerente</div>
            <p>3</p>
        </button>
        <button class="btn btn-total btn-sq-lg btn-sm col-2 rounded-5 me-2" type="button"
                data-bs-toggle="collapse" data-bs-target="#" aria-expanded="false"
                aria-controls="priorizadoLista">
            <div class="btn-tit">Total</div>
            <p>3</p>
        </button>
        <div class="col-2"></div>
    </div>
</div>