<div th:fragment="tabelasGsv" id="tabelasGsvs">

    <!--Detalhe Priorizado-->
    <div class="collapse" id="priorizadoLista" data-bs-parent="#upperDash">
        <div class="card card-body filaFunci">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Protocolo</th>
                    <th scope="col">Atividade</th>
                    <th scope="col">Data</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>66951880</td>
                    <td>RESGATAR DJO</td>
                    <td>13/12/2022 08:26:33</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>78945880</td>
                    <td>RESGATAR DJO</td>
                    <td>13/12/2022 08:24:00</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>58800880</td>
                    <td>RESGATAR DJO</td>
                    <td>13/12/2022 08:12:33</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Detalhe Aguardando Análise-->
    <div class="collapse" id="diligenciaLista" data-bs-parent="#upperDash">
        <div class="card card-body filaFunci">
            Tabela Analise
        </div>
    </div>
    <!--Detalhe Diligencias-->
    <div class="collapse" id="totalLista" data-bs-parent="#upperDash">
        <div class="card card-body filaFunci">
            Tabela Diligencias
        </div>
    </div>
    <!--Detalhe a Validar-->
    <div class="collapse" id="validarLista" data-bs-parent="#upperDash">
        <div class="card card-body filaFunci">
            Tabela a Validar
        </div>
    </div>
</div>