<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head('Integra')}"></head>

<body onload="myFunction()">
<nav th:replace="~{fragments/nav :: nav}"></nav>
<!--loader
    O Tempo do Loader pode ser alterado no script no fim deste arquivo-->
<div id="loader"></div>


<!--MenuLateral-->
<div th:replace="~{fragments/menuLateral :: mLateral}"></div>
<!--Fim do MenuLateral -->

<!--Dash-->
<div th:replace="~{fragments/dash/index :: dash}"></div>
<!--Fim do Dash Superior -->

<!--conteudo
    Sua exibição é controlada pelo Loader-->
<div th:replace="~{fragments/conteudo/index :: conteudo}"></div>
<!--Fim do Conteudo -->

<!--Modal Confirmação
    Este ao fechar retorna a página inicial-->
<div th:replace="~{fragments/confirmarPagamento :: confPagamento}"></div>
<!-- fim do Modal confirmação-->

<!--Footer-->
<div th:replace="~{fragments/arquivosJS :: javaScript}"></div>
<!--Fim do Footer -->
</body>
</html>
